body {
  font-family: 'Secular One', sans-serif;
  background: linear-gradient(158.15deg, #f03573 0%, #6060f1 100%);
}

.layout {
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  text-shadow: 1px 1px black;
}

.description {
  text-align: center;
}

.call-to-action {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: fit-content;
  height: 70px;
  background: pink;
  border-radius: 3px;
  box-shadow: 2px 2px 4px black;
  color: black;
  cursor: pointer;
  font-size: 20px;
  margin-top: 100px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
}

.call-to-action .call-to-action__product-name {
  font-family: 'Permanent Marker', cursive;
}

.call-to-action small {
  font-size: 12px;
}

.call-to-action a {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0px;
}

.copy-and-donation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  text-align: center;
  width: 99%;
}

.features {
  display: flex;
  justify-content: center;
}

.features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px;
  padding: 4px;
}

.features .feature img {
  width: 70%;
}

.features .feature .feature__label {
  width: 100%;
  background: black;
  color: white; 
  text-align: center;
}

.features .feature .feature__space {
  flex: 1;
}